// $white: #ffffff;
// $black: #000000;
// $red: #ff0000;

$main-font-family: 'Arial', 'Helvetica', sans-serif;
$heading-font-family: "Arial Black", sans-serif;

// $text-color-main: #eee5b5; // тёмная - коричневый текст заголовков
$text-color-main: #ffff1b;  // светлая - светло-жёлтый
$text-color-error: #ff0000;
$text-color-input-hover: #305478;

//$text-color-additional: #dfcf77;  // тёмная - тёмно-коричневый текст заголовков
$text-color-main-dark: #e3e319;  // светлая - светло-жёлтый

$bg-color-add-review: #f2dba8;
$bg-color-add-review-post-button: #866866;

// $text-color-catalog-menu: #000;
$text-color-additional: #000;

$text-size-small: 17px;
$text-size-medium: 19px;
$text-size-big: 25px;

$text-line-height-small: 20px;
$text-line-height-medium: 23px;
$text-line-height-big: 30px;
