// $white: #ffffff;
// $black: #000000;
// $red: #ff0000;

$main-font-family: 'Arial', 'Helvetica', sans-serif;
$heading-font-family: "Arial Black", sans-serif;

// $text-color-main: #eee5b5; // тёмная - коричневый текст заголовков
$text-color-main: #ffff1b;  // светлая - светло-жёлтый

//$text-color-additional: #dfcf77;  // тёмная - тёмно-коричневый текст заголовков
$text-color-main-dark: #e3e319;  // светлая - светло-жёлтый

// $text-color-catalog-menu: #000;
$text-color-additional: #000;
