.add-review-page-header {
  position: relative;
	margin: 0 auto;
	@include z-index-middle;
}

.main-page-header__breadcrumbs {
  margin-left: 20px;
}

.breadcrumbs {
  max-width: 700px;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
	display: inline-block;
	max-width: 500px;

  &:not(:last-child)::after {
    content: '/';
    margin: 0 5px;
    @include font-medium;
    color: $text-color-main;
  }
}

// работает с переполнением. Блок достигая 450 - режется, при этом родительский блок может иметь размер 500, поэтому текст усекается, а дополнительный контент '/' - остаётся видимым
.breadcrumbs__link {
  display: inline-block;  // если не указать, не будет работать свойство height
  height: $text-size-medium;
  max-width: 450px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

  @include font-medium;
  color: $text-color-main;
}

.hero__image__add-review {
  width: 1200px;
  height: 375px;
  object-fit: cover;
}

.add-review__film-card {
  flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.add-review__hero-image {
  position: relative;
	@include z-index-middle;
	min-height: 375px;
}

.add-review__additional-film-info {
  position: relative;
	// padding: 25px 75px;
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
	padding-bottom: 60px;
	transform: translateY(-170px);

	@include z-index-middle;
}