.add-review-page-header {
	position: relative;
	margin: 0 auto;
	@include z-index-middle;
}

.main-page-header__breadcrumbs {
	margin-left: 20px;
}

.breadcrumbs {
	max-width: 700px;
}

.breadcrumbs__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.breadcrumbs__item {
	position: relative;
	display: inline-block;
	max-width: 500px;
	color: $text-color-main;

		&--my-list {
			color: $text-color-additional;
		}

		&--dark {
			color: $text-color-additional;
		}

	&:not(:last-child)::after {
		content: "/";
		margin-left: 5px;
		margin-right: 7px;
		@include font-medium;
	}
}

// работает с переполнением. Блок достигая 450 - режется, при этом родительский блок может иметь размер 500, поэтому текст усекается, а дополнительный контент '/' - остаётся видимым
.breadcrumbs__link {
	display: inline-block; // если не указать, не будет работать свойство height
	height: $text-size-medium;
	max-width: 450px;
	overflow-x: clip;
	white-space: nowrap;
	text-overflow: ellipsis;

	@include font-medium;
	color: $text-color-main-dark;

	transition: transform .5s linear;

	&--dark {
		color: $text-color-additional;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.hero__image__add-review {
	width: 1200px;
	height: 375px;
	object-fit: cover;
}

.add-review__film-card {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.add-review__hero-image {
	position: relative;
	@include z-index-middle;
	min-height: 375px;
}

.add-review__additional-film-info {
	position: relative;
	margin: auto;
	transform: translateY(-170px);

	@include z-index-middle;
}

.additional-film-info__add-review-form {
	margin: auto;
	margin-top: 20px;
}

.add-review-form {
	width: 520px;
}

.add-review-form__rating-stars {
	margin-bottom: 15px;
}

.rating-stars {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}

.rating__input {
	display: none;
}

// находим элемент, который выбран, то есть имеет пометку checked и применяем стили для предыдущих элементов с классом rating__label::after (~ - как раз означает "предыдущий сосед")
.rating__input:checked ~ .rating__label::after {
	color: rgba(56, 44, 42, 0.7);
}

.rating__input:hover ~ .rating__label::after {
	color: rgba(56, 44, 42, 0.7);
}

.rating__label {
	font-size: 0;
	line-height: 0;
	display: block;
	padding-right: 10px;
	cursor: pointer;

	&::after {
		content: "★";
		display: block;
		font-size: 32px;
		line-height: 36px;
		color: rgba(56, 44, 42, 0.36);
		transition: color 0.2s;
	}
}

.add-review-form___review-text {
	display: block;
}

.review-text {
	background: $bg-color-add-review;
	border-radius: 8px;
}

.review-text__input {
	display: block;
	width: 100%;
	height: 150px;
	min-height: 150px;
	padding: 25px;

	border: none;
	background: 0 0;

	resize: vertical;

	@include font-small;
	color: $text-color-additional;
	outline: none;

	border: 2px solid $text-color-additional; /* Добавляем нижнюю рамку для стилизации */
  transition: border-color 0.5s; /* Добавляем анимацию перехода цвета рамки */

	&:focus {
		border-color: $text-color-main; /* Зеленая рамка при фокусе */
	}
}

.review-text__btn-container {
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
}

.review-text__button {
	display: block;
	padding: 0;

	
	border: none;
	background: 0 0;

	@include font-small;
	color: $bg-color-add-review-post-button;
	letter-spacing: 0;
	line-height: 27px;
	font-weight: 700;

	cursor: pointer;

	transition: opacity 0.5s;
	transition: 0.5s transform, 0.5s;

	&:hover {
		opacity: 0.5;
		transform: scale(1.2);
	}

}
