.main-page {
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @include main-font-family;
  @include font-medium;

  background: #ece8dd url("../../../src/images/fone.gif") left top repeat;
}

.main-page__container {
  background-color: gray;
  background: gray url("../../../src/images/content-fone.jpg") -330px 330px repeat;
}

.hero__container {
  position: absolute;
  top:0;
  left: 0;
  @include z-index-back;
}

.main-page__hero-image {
  position: relative;
  @include z-index-middle;
}

.hero {
  max-width: 1440px;
  height: 675px;
}

.hero__image {
  width: 100%;
  height: auto;
}

.hero__header {
  position: relative;
  margin: 0 auto;
  margin-bottom: 58px;
  @include z-index-middle;
}

.main-page-header {
  max-width: 1300px;
  display: flex;
  padding: 25px 75px;
  align-items: center;
  justify-content: space-between;
}

.user-block__avatar {
  padding-right: 25px;
}

.user-block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-block__item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: $text-color-additional;
  @include black-text-stroke;

}

.main-page__film-card {
  position: relative;
  // margin-top: 100px;
  margin: 0 auto;
  @include z-index-middle;
}

.film-card{
  max-width: 1300px;
  padding: 25px 75px;
  display: flex;    
}

.film-card__poster {
  margin-right: 40px;
}

.film-card__info {
  display: flex;
  flex-direction: column;
}

.film-card__image {
  width: 218px;
  max-width: 100%;
  height: auto;
}

.film-card__title {
  @include font-h2;
  color: $text-color-main;
  @include black-text-stroke;

  max-width: 750px;
  max-height: 140px;
  overflow: hidden;
}

.film-card__meta {
  @include font-medium;
  font-weight: 700;

  color: $text-color-main;
  @include black-text-stroke;

  margin-bottom: 25px;
}

.film-card__genre::after {
  content: '·';
  margin-left: 4px;
  margin-right: 4px;
}

.film-card__buttons {
  display: flex;
  max-width: 700px;
  max-height: 300px;
}

.film-card__button {
  margin-right: 14px;

  &:last-child {
    margin-right: 0px;
  }
}

.button {
  display: flex;

  @include font-medium;
  color: $text-color-main;
  
  background: rgba(55, 54, 41, 0.65);

  align-items: center;
  padding: 13px 30px;
  min-width: 128px;
  max-width: 300px;
  overflow: hidden;

  border-radius: 8px;
  border: 0;
  text-decoration: none;
  cursor: pointer;

  will-change: transform;
  transition: .2s background-color,.2s transform,.2s -webkit-transform;

  &:hover {
    background: rgba(0, 0, 0, 0.51);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  & svg {
    vertical-align: top;
    margin-right: 9px;
  }

}

.main-page__content {
  width: 1200px;
}

.main-page-content__catalog {
  width: 100%;
  padding: 25px 75px;
}

.catalog {
  width: 1200px;
  max-width: 1200px;
}

.catalog__genres-list {
  margin-bottom: 25px;
}

.genres-list {
  width: 100%;
}

.genres-list__item {
  display: inline-block;
  min-width: 80px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.genres-list__link {
  @include font-medium;
  color: $text-color-catalog-menu;
}

.catalog__films-list {
  width: 1050px;
}

.films-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start
}

.films-list__films-card {
  margin-right: 10px;
  margin-bottom: 10px;
}

.small-film-card {
  position: relative;
  width: calc((100% - 50px)/ 4);

  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  will-change: transform;
  transition: .2s transform, .2s -webkit-transform;

  &:hover {
    @include z-index-top;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.small-film-card__image {
  display: block;
  position: relative;
  @include z-index-front;

  &::after {
    content: '';
    position: absolute;
    @include z-index-front;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 25%,rgba(0,0,0,.63) 97%);
  }
}

.small-film-card__img {
  width: 250px;
  height: auto;
  max-height: 160px;
  object-fit: cover;
}

.small-film-card__title {
  @include z-index-middle;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 10px;
  @include font-small;
  color: $text-color-main; 
}

.small-film-card__link {
  color: inherit;
}


.main-page__footer {
  margin-top: auto;
  max-width: 1200px;
}