.movie-page__film-card {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.movie-page__film-card-info {
	align-items: center;
}

.movie-page__additional-film-info {
	position: relative;
	@include z-index-middle;

	transform: translateY(-170px);

	color: white;
}

.additional-film-info {
	max-width: 1300px;
	padding: 25px 75px;
	padding-bottom: 60px;
	display: flex;
}

.additional-film-info__poster {
	margin-right: 40px;
	min-width: 218px;
}

.additional-film-info__image {
	width: 218px;
	max-width: 100%;
	height: auto;
}

.additional-film-info__info {
	padding-top: 100px;
}

.additional-film-info__film-menu {
	margin-bottom: 40px;
}

.film-menu {
	display: flex;
	flex-direction: row;
}

.film-menu__item {
	position: relative;
	display: inline-block;
	min-width: 80px;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 20px;

	&:nth-last-child(1) {
		margin-right: 0;
	}
}

.film-menu__link {
	display: inline-block;
	min-height: 35px;
	@include font-big;
	font-weight: 700;

	color: $text-color-main;
	@include black-text-stroke;
}

.film-menu__item--active a {
	border-bottom: 2px solid $text-color-main;
}

.overview__rating-value {
	@include font-big;

	padding: 8px 12px;

	color: $text-color-additional;
	background: rgba(0, 0, 0, 0.24);
	border-radius: 8px;
}

.overview__rating {
	margin-bottom: 30px;
}

.overview__rating-text-value {
	color: $text-color-additional;
	@include font-medium;
	font-weight: 700;
}

.overview__rating-count {
	color: $text-color-additional;
	@include font-medium;
}

.overview__description {
	margin-bottom: 30px;
}

.overview__description-text {
	color: $text-color-additional;
	@include font-medium;
}

.overview__director {
	margin-bottom: 30px;
}

.overview__director-title {
	color: $text-color-additional;
	@include font-medium;
	font-weight: 700;
}

.overview__director-name {
	color: $text-color-additional;
	@include font-medium;
}

.overview__starring-title {
	color: $text-color-additional;
	@include font-medium;
	font-weight: 700;
}

.overview__starring-names {
	color: $text-color-additional;
	@include font-medium;
}

.movie-page__more-films {
	width: 1200px;
	transform: translateY(-170px);
	padding: 20px 75px;
	border-top: 2px solid #000;
}

.more-films {
	width: 1200px;
}

.more-films__title {
	@include font-h2;
	text-decoration: underline dotted black;
	text-underline-offset: 5px;
}

.movie-page__catalog {
	width: 100%;
	padding: 20px 75px;
}

.movie-page__footer {
	margin-top: -50px;
}

.details {
	max-width: 792px;
}

.details__item {
	margin-bottom: 30px;
}

.details__item-title {
	color: $text-color-additional;
	@include font-medium;
	font-weight: 700;
}

.details__item-value {
	color: $text-color-additional;
	@include font-medium;
}