.sign-in__title {
	position: relative;
	margin: 0 auto;
	margin-top: 40px;
}

.title {
	@include font-h2;
	color: $text-color-main;
	@include black-text-stroke;
	text-align: center;
	max-width: 300px;
}

.sign-in__form-container {
	position: relative;
	margin: auto;
	text-align: center;
	transform: translateY(-130px);
	max-width: 540px;
	width: 100%;

	@include z-index-middle;
}

.form-container {
	background: url("../../../src/images/script-scroll.jpg") 32px 246px repeat-y;
	min-height: 400px;

	&--bottom {
		min-height: 440px; /* Увеличиваем высоту контейнера на 40 пикселей */
		background-image: url("../../../src/images/script-bottom-without-bg.png");
		background-position: 6px calc(100% + 32px); // смещаем картинку вниз
		background-repeat: no-repeat;
	}

	&--top {
		min-height: 440px;
		background: url("../../../src/images/script-top-without-bg.png") left -40px no-repeat;
	}
}

.sign-in__form {
	padding: 45px 50px 50px 60px;
	// padding-bottom: 40px;
}

.sign-in {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.sign-in__message-text {
	margin-bottom: 30px;
}

.message-text {
	@include font-medium;
	color: $text-color-additional;
}

.sign-in__fields {
	margin-bottom: 30px;
}

.sign-in__field {
	margin-bottom: 3px;
	position: relative;
}

.sign-in__input {
	position: relative;
	display: block;
	width: 100%;

	background: 0 0;
	border-radius: 8px;
	border: 1px solid transparent;
	outline: 0;

	color: $text-color-additional;

	@include font-h2;

	padding: 25px 20px;
	transition: border-color .5s;

	&:hover {
		border-color: $text-color-main;
	}

	&:focus {
		border-color: $text-color-main;
		// background: red;
	}
}

/* Псевдоэлемент, который будет служить фоном инпута */
.sign-in__input::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent; /* Или любой другой цвет, который вы хотите сохранить */
	pointer-events: none; /* Это позволит кликам проходить сквозь псевдоэлемент */
	z-index: 1; /* Поднимем псевдоэлемент над содержимым инпута */
}

/* Убираем фон, если поле не пустое */
.sign-in__input:not(:placeholder-shown)::after {
	display: none;
}